<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">

    <style>
        .catdes{
            display: flex;
            padding: 10px 10px 10px 10px;
        }
        .caja { 
            font-family:'Times New Roman', Times, serif; 
            color: #ffffff; 
            font-size: 18px; 
            font-weight: 400; 
            text-align:center; 
            background: rgb(134, 142, 163); 
            margin: 0 0 25px; 
            overflow: hidden; 
            padding: 20px; 
            border-radius: 35px 0px 35px 0px; 
            -moz-border-radius: 35px 0px 35px 0px; 
            -webkit-border-radius: 35px 0px 35px 0px; 
            border: 2px solid #000000;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/home"><img src="/img/Mister.png" alt="El logo de Mister" width="110px" height="90px"></a>        </div>
        <div class="nombre">
            <h1>THE MISTER</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/imagenes">Imagenes</a></li>
                <li><a href="/tablaclientes">Clientes</a></li>
                <li><a href="/tablacompras">Facturas</a></li>
            </ul>
        </nav>
    </header><br><br><br><br><br><br>
    <h1>Categorias: <%= categorias.length %></h1><br>
    <div>
        <table border="1">
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <td><a href="/ctgagg"><img src="/img/agregar.png" alt="agregar" width="30" height="30"></a></td>
            </tr>
            <tr>
                <% if (categorias) { %>
                    <% for (let i = 0; i < categorias.length; i++){  %>
                        <% if (categorias) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= categorias[i].nombre %></td>
                                <td>
                                    <div class="input-group">
                                        <a href="/ctgdelete/<%= categorias[i].id%>" class="btn btn-danger"><img src="/img/delete.png" alt="borrar" width="30" height="30"></a>
                                        <a href="/ctgedit/<%= categorias[i].id%>" class="btn btn-info"><img src="/img/update.png" alt="actualizar" width="30" height="30"></a>
                                    </div>
                                </td>
                            </tr>    
                        <% } %>
                    <% } %>
                <% } else { %>
                        <tr>
                            <th>No hay categorias en el sistema</th>
                        </tr>
                    <% }   %>
            </tr>
        </table>
    </div><br><br><br>
 
    <div class="catdes">
        <div class="caja">
            <h2>Confidentes o Fijas</h2><br>
            <p>Es una silla fija, con respaldo y su nombre viene por ser la típica de los interrogatorios de las películas. Este tipo de sillas no están indicadas para los trabajadores en la medida en que no tienen movilidad y tampoco son ajustables en cuanto a respaldo o altura. Sin embargo, pueden ser una buena opción para los espacios de recepción.</p>
        </div>
        <div class="caja">
            <h2>Operativas</h2><br>
            <p>Las sillas operativas son las que cuentan con ruedas y son también del tipo clásico en una oficina. Son sillas giratorias y elevables en altura y existen en numerosos diseños distintos. Estos ofrecen una gran variedad en cuanto a telas, colores y formas.</p>
        </div>
        <div class="caja">
            <h2>Ergonómicas</h2><br>
            <p>Son el tipo indicado para oficinas. Estas son sillas que cuidan sobre todo la salud y de paso la comodidad. Son regulables en altura y profundidad, por lo que son ideales para cualquier persona. Cuentan también con posición de balanceo para ajustar la tensión de la espalda al respaldo. También cuenta con sistema de sincronización para su ajuste automático. Igualmente, cuentan con materiales transpirables y tienen una gran durabilidad.</p>
        </div>
    </div>
    <div class="catdes">
        <div class="caja">
            <h2>Respaldo Sincronizado</h2><br>
            <p>Las sillas de respaldo sincronizado son aquellas que cuentan con un mecanismo que se ajusta automáticamente a la espalda. De esa manera, se pueden fijar en un ángulo deseado y al mismo tiempo regular la inclinación del asiento en general. Son esas que pueden balancearse atrás y adelante dejando que siempre el respaldo vuelva a su posición de forma automática. Son sillas ideales indicadas para largas jornadas de trabajo en la oficina gracias a su gran comodidad.</p>
        </div>
        <div class="caja">
            <h2>Contacto Permanente</h2><br>
            <p>Estas sillas reciben su nombre por la naturaleza de su respaldo. Este es un tipo de silla en la que es posible ajustar tanto la altura, como la profundidad como el ángulo de inclinación de la misma. Por ello, este siempre está en contacto con la espalda. Estas sillas están indicadas para corregir la postura de la espalda. Por ello, además de para las oficinas y el uso profesional están indicadas para personas jóvenes que tienen que rectificar su postura y adquirir buenos hábitos.</p>
        </div>
        <div class="caja">
            <h2>Gamer</h2><br>
            <p>Las sillas gaming son las sillas especialmente pensadas para jugar videojuegos. Las sillas gaming requieren algunas características específicas que no todas las sillas de oficina cumpplen. Por ello se diseñó un nuevo tipo de silla pensanda en los gamers y en sus necesidades.</p>
        </div>
    </div>

</body>
</html>