<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
  <h1>Productos: <%=modelo.length%></h1>
  <div class="table">
    <table border>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th><a href="/agregar"><img src="/img/agregar.png" id='add'></a></th>
          </tr>
          <%for(const producto of modelo){%>
            <tr>
              <td><%=producto.producto_id%></td>
              <td><%=producto.nombre%></td>
              <td><%=producto.codigo%></td>
              <td><%=producto.precio%></td>
              <td><%=producto.descripcion%></td>
              <td><%=producto.marca%></td>
              <td><%=producto.cantidad%></td>
              <td class="icon">
              <a href="/actualizar/<%= producto.producto_id%>"><img src="/img/update.png" width="30"></a>
              <a href="/borrar/<%= producto.producto_id%>"><img src="/img/delete.png" width="30" id="delete"></a>
              <a href="/agregarImagen"><img src="/img/galeria.png" width="30" id="imagen"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
  <a href='/categorias' id='botonProductos'>Categorias</a><br><br><br>
  <a href="/login"><img src="/img/back.png" width="30" id="volverAtras"></a>

</body>
</html>
