<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mister</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/hf.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">


    <style>
       
        .return-button {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }
        li.nav-item{
            color: white;
        }

    </style>
</head>

<body>
    <header>
        <li class="nav-item">
                                        <a class="nav-link btn btn-dark" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  btn btn-dark" aria-current="page"
                                            href="/categorias">Categorias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-dark" href="/productos">Productos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-dark" href="/imagenes">Imagenes</a>
                                    </li>
                                 
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-dark" href="/tablacompras">Facturas</a>
                                    </li>
                                    <a class="nav-link return-button" href="/logout">Salir</a>
                                </ul>
            </header>


        <main class="separe">
            <article class="container1">
                <div class="container">
                    <div class="table-responsive">
                       <br><br>
                        <table border="2px" class="table">
                       
                            <tr>
                                <th>
                                    <p>N°</p>
                                </th>
                                <th>
                                    <p>Correo</p>
                                </th>
                                <th>
                                    <p>Contraseña</p>
                                </th>
                                <th>
                                    <p>Pregunta de Seguridad</p>
                                </th>
                                <th>
                                    <p>Respuesta de Seguridad</p>
                                </th>
                            </tr>
                            <tr>
                                <% if (clientes) { %>
                                    <% for (let i=0; i < clientes.length; i++){ %>
                                        <% if (clientes) { %>
                            <tr>
                                <td>
                                    <%= (i + 1) %>
                                </td>
                                <td>
                                    <%= clientes[i].email %>
                                </td>
                                <td>
                                    <%= clientes[i].password %>
                                </td>
                                <td>
                                    <%= clientes[i].preg_seg %>
                                </td>
                                <td>
                                    <%= clientes[i].resp_seg %>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                                    <% } else { %>
                                        <tr>
                                            <th>No hay clientes en el sistema</th>
                                        </tr>
                                        <% } %>
                                            </tr>
                        </table>
                    </div>
                </div>

            </article>
        </main>
    

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>

</html>